py-src/test.py
py-src/__pycache__
py-src/board.pyc
training/test.py

py-src/play/__pycache__

# data
training/raw-data
training/training-data
training/__pycache__
/Reference

# Added by cargo

/target
